nav {
	width: 85%;
	margin: auto;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	animation: opacity-menu 1200ms;
}

nav .logo {
	z-index: 1;
	display: flex;
	align-items: center;
}

nav .logo svg {
	width: 100%;
	margin-top: 3px;
}

nav .logo:hover:after {
	opacity: 1;
	transform: translateX(0);
}

/* nav .logo:after {
	content: "Home";
	position: absolute;
	font-family: "Averta", sans-serif;
	color: var(--color-secondary);
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 600;
	align-self: center;
	margin-left: 70px;
	opacity: 0;
	transform: translateX(10px);
	transition: transform 400ms cubic-bezier(0, 0.45, 0.15, 1),
		opacity 400ms cubic-bezier(0, 0.45, 0.15, 1);
} */

nav .content-nav {
	display: flex;
	justify-content: space-between;
	width: 30%;
}

nav .content-nav .social {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav .content-nav .social a {
	display: flex;
	justify-content: center;
	transform: scale(1);
	height: 40px;
	width: 40px;
}

nav .content-nav .social a:nth-child(2) {
	margin: 0 20px;
}

nav .content-nav .social a:before {
	content: "";
	background-color: #eea1be;
	/* border-radius: 20px; */
	height: 40px;
	width: 40px;
	position: absolute;
	z-index: 10;
	transform: scale(0);
	opacity: 0;
	transition: transform 300ms, opacity 200ms;
}
.nav {
	width: 85%;
	padding: 1vw 0;
	margin: auto;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	animation: opacity-menu 1200ms;
}
.combineTitle {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}
.titleLines {
	font-family: "Major Mono Display", monospace;
	color: var(--color-primary);
	font-size: var(--fontsize-tough);
	mix-blend-mode: difference;
}
.title {
	font-family: "Major Mono Display", monospace;
	color: var(--color-primary);
	font-size: var(--fontsize-tough);
	mix-blend-mode: difference;
}

nav .content-nav .social a:hover:before {
	transform: scale(1);
	opacity: 1;
}

nav .content-nav .social a svg {
	align-self: center;
	z-index: 20;
}
/* .overlay {
	position: absolute;
	top: 0;
	margin-top: 35px;

	height: 45px;
	width: 45px;
	opacity: 0;
	transition: all 0.1s ease;
}

.logo:hover .overlay {
	opacity: 1;
	transition: 0.3s ease;
} */

/* .logo:hover .homeIcon {
	opacity: 0;
	transition: all 0.5s ease;
} */

.text {
	color: var(--color-pulp);
	font-size: var(--fontsize-strong);
	position: absolute;
	font-family: "Inter", sans-serif;
	font-weight: 800;
	margin-left: 5px;
	transition: all 0.5s ease;
}
.hamburger {
	z-index: 1;
	border-radius: 5px;
	width: 38px;
	height: 30px;
	position: relative;
	/* border-radius: 50%; */
	cursor: pointer;
}

.hamburger .bar {
	padding: 0;
	width: 38px;
	display: flex;
	justify-content: center;
	align-self: center;
	height: 4px;
	background-color: var(--color-primary);
	display: block;
	border-radius: 5px;
	transition: all 0.4s ease-in-out;
	position: absolute;
}
.barUpdatedState {
	padding: 0;
	width: 38px;
	display: flex;
	justify-content: center;
	align-self: center;
	height: 4px;
	background-color: var(--color-primary) !important;
	display: block;
	border-radius: 5px;
	transition: all 0.4s ease-in-out;
	position: absolute;
}

.bar1 {
	top: 0;
}

.bar2,
.bar3 {
	top: 13.5px;
}

.bar3 {
	right: 10px;
}

.bar4 {
	bottom: 0;
}

.bar4 {
	top: 13.5px;
}

.bar5 {
	bottom: 0px;
}

.hamburger4 .bar {
	transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
	width: 1px;
	transform: rotate(90deg);
	left: 13.5px;
}

.hamburger4 .bar3 {
	width: 1px;
	left: 13.5px;
}

.checkbox4:checked + label > .hamburger4 > .bar1 {
	top: 13.5px;
	background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar2 {
	left: 0px;
	width: 30px;
	transform: rotate(45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar3 {
	left: 0;
	width: 30px;
	transform: rotate(-45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar4 {
	background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar5 {
	bottom: 13.5px;
	background-color: transparent;
}

@media (min-width: 834px) and (max-width: 1200px) {
	nav .content-nav {
		width: 50%;
	}
}

@media (max-width: 834px) {
	nav {
		padding: 60px 30px;
	}

	nav .logo {
		width: 30px;
	}

	nav .logo:hover:after {
		display: none;
	}

	nav .content-nav {
		width: 75%;
		flex-direction: row-reverse;
	}

	nav .content-nav .menu svg {
		display: none;
	}

	nav .content-nav .social a {
		width: 30px;
	}
}

@keyframes opacity-menu {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
