.nav {
	width: 90%;
	margin: auto;
	padding: 60px 40px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	z-index: 0;
	animation: opacity-menu 1200ms;
	border: 1px solid red;
}
.logo {
	display: flex;
	align-items: center;
}

nav .logo svg {
	width: 100%;
	margin-top: 3px;
}

nav .logo:hover:after {
	cursor: pointer;
	opacity: 1;
	transform: translateX(0);
}

nav .logo:after {
	content: "HOME";
	position: absolute;
	font-family: "Averta", sans-serif;
	color: #8bf172;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 500;
	align-self: center;
	margin-left: 70px;
	opacity: 0;
	transform: translateX(10px);
	transition: transform 400ms cubic-bezier(0, 0.45, 0.15, 1),
		opacity 400ms cubic-bezier(0, 0.45, 0.15, 1);
}

nav .content-nav {
	display: flex;
	justify-content: space-between;
	width: 30%;
}

nav .content-nav .menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .content-nav .menu svg {
	margin-left: 14px;
}

nav .content-nav .menu a svg {
	transition: transform 400ms cubic-bezier(0, 0.45, 0.15, 1);
}

nav .content-nav .menu a:hover svg {
	transform: translateX(20px);
}

nav .content-nav .social {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav .content-nav .social a {
	display: flex;
	justify-content: center;
	transform: scale(1);
	height: 40px;
	width: 40px;
}

nav .content-nav .social a:nth-child(2) {
	margin: 0 20px;
}

nav .content-nav .social a:before {
	content: "";
	background-color: #eea1be;
	border-radius: 20px;
	height: 40px;
	width: 40px;
	position: absolute;
	z-index: 10;
	transform: scale(0);
	opacity: 0;
	transition: transform 300ms, opacity 200ms;
}

nav .content-nav .social a:hover:before {
	transform: scale(1);
	opacity: 1;
}

nav .content-nav .social a svg {
	align-self: center;
	z-index: 20;
}

@media (min-width: 834px) and (max-width: 1200px) {
	nav .content-nav {
		width: 50%;
	}
}

@media (max-width: 834px) {
	nav {
		padding: 60px 30px;
	}

	nav .logo {
		width: 30px;
	}

	nav .logo:hover:after {
		display: none;
	}

	nav .content-nav {
		width: 75%;
		flex-direction: row-reverse;
	}

	nav .content-nav .menu svg {
		display: none;
	}

	nav .content-nav .social a {
		width: 30px;
	}
}
