.box {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: var(--color-magento);
	mix-blend-mode: exclusion;
	/* position: fixed;
	top: 0; */
}

.cursorText {
	flex: auto;
	font-size: inherit;
	pointer-events: none;
	margin: auto;
}
