@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #cfca16;
	--color-ternary: #eea0be;
	--color-secondary: #8bf172;
	--color-light-olive: #e7e8d1;
	--color-light-teal: #a7beae;
	--color-magento: #f25824;
	--color-primaryDark: #110525;
	--color-purity: #fff;
	--color-dark: #000;
	--color-ebony: #5c5b5b;
	--color-darkFade: #181817;
	--color-metal: #969696;
	--color-jade: #313131;
	--color-raven: #050301;
	--color-leather: #0b0705;
	--color-pulp: #f7edc9;
	--color-AthsSpecial: #ebe5cd;
	--color-rangitoto: #363f2c;
	--color-naturalGrey: #969285;
	--color-chambray: #3b618c;
	--fontsize-strong: 40px;
	--fontsize-tough: 32px;
	--fontsize-pearl: 28px;
	--fontsize-trim: 24px;
	--fontsize-glossy: 20px;
	--fontsize-virgin: 18px;
	--fontsize-brittle: 16px;
}

* {
	box-sizing: border-box;
	word-wrap: break-word;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	/* overflow-x: hidden; */
	font-family: "Caveat", cursive;
	font-family: "Inter", sans-serif;
	font-family: "Ubuntu", sans-serif;
	font-family: "Oranienbaum", serif;
}
body {
	background: var(--color-darkFade);
	color: var(--color-secondary);
	cursor: pointer;
}
